<p style="color: green"><%= notice %></p>

<% content_for :title, "Soup questions" %>

<h1>Soup questions</h1>

<div id="soup_questions">
  <% @soup_questions.each do |soup_question| %>
    <%= render soup_question %>
    <p>
      <%= link_to "Show this soup question", soup_question %>
    </p>
  <% end %>
</div>

<%= link_to "New soup question", new_soup_question_path %>
